<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quien soy</title>  
</head>
<body>
    <div class="container">
        <h1>¿Quién Soy?</h1>
        <p><strong>Nombre:</strong> Ezequiel Brañanova</p>
        <p><strong>Edad:</strong> 32 años</p>
        <p><strong>Estudios:</strong> Estudiante de la Tecnicatura en Programación en la UTN de Avellaneda</p>
        <p><strong>Objetivo:</strong> Busco convertirme en un desarrollador web</p>        
        <div class="image-container">
            <img [src]="imageUrl" alt="Imagen">
        </div>
        <h1 class="text-center">Blackjack</h1>
        <div class="blackjack-description">
            <p>El Blackjack es un juego de cartas muy popular en los casinos, donde el objetivo es alcanzar 21 puntos o acercarse lo más posible sin pasarse. Se juega contra la banca y requiere estrategia y habilidad para ganar.</p>
        </div>
        <div class="blackjack-rules">
            <h2 class="text-center">Reglas Básicas del Blackjack</h2>
            <ul>
                <li>Las cartas numéricas valen su número, las figuras (J, Q, K) valen 10 puntos, y el As puede valer 1 o 11.</li>
                <li>Cada jugador recibe dos cartas al inicio.</li>
                <li>El jugador puede pedir carta para recibir una nueva o plantarse para mantener su mano.</li>
                <li>La banca debe pedir cartas hasta alcanzar 17 puntos o más.</li>
                <li>Si el jugador supera 21 puntos, pierde automáticamente.</li>
                <li>Si el jugador tiene más puntos que la banca sin pasarse de 21, gana.</li>
                <li>Si la banca se pasa de 21, el jugador gana automáticamente.</li>
                <li>Si ambos tienen el mismo puntaje, es un empate.</li>
            </ul>
        </div>
    </div>
</body>
</html>