<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quien soy</title>  
</head>
<body>
    <div class="container">
        <h1>¿Quién Soy?</h1>
        <p><strong>Nombre:</strong> Ezequiel Brañanova</p>
        <p><strong>Edad:</strong> 32 años</p>
        <p><strong>Estudios:</strong> Estudiante de la Tecnicatura en Programación en la UTN de Avellaneda</p>
        <p><strong>Objetivo:</strong> Busco convertirme en un desarrollador web</p>        
        <div class="image-container">
            <img [src]="imageUrl" alt="Imagen">
        </div>
        <h1 class="text-center">JUEGO EN DESARROLLO</h1>
    </div>
</body>
</html>