<div class="contenedor-ahorcado">
    <canvas #hangmanCanvas width="200" height="250"></canvas>
    <h2>{{ palabraOculta }}</h2>    
    <p class="contenedor-cargar-palabra" *ngIf="cargandoPalabra">⌛ Eligiendo palabra...</p>
    <p [ngClass]="{'mensaje-ganador': mensajeFinal.includes('Ganaste'), 'mensaje-perdedor': mensajeFinal.includes('Perdiste')}" 
        class="parrafo-resultados" *ngIf="mensajeFinal">
        {{ mensajeFinal }}
    </p>
    <div class="intentos">
        <h3>❤️ Intentos restantes: {{ intentos }}</h3>
    </div>
    <div class="puntuacion">
        <h3>⭐ Puntuación: {{ puntuacion }}</h3>
    </div>
    <div class="teclado" *ngIf="intentos > 0">
        <div *ngFor="let fila of [fila1, fila2, fila3]" class="fila">
            <button *ngFor="let letraIngresada of fila" 
                    (click)="mostrarLetraElegida(letraIngresada)" 
                    [disabled]="cargandoPalabra || letras.includes(letraIngresada) || intentos === 0" 
                    class="teclas">
                {{ letraIngresada }}
            </button>
        </div>
    </div>
    <div class="letras-usadas">
        <h3>Letras usadas:</h3>
        <p>{{ letras.join(', ') }}</p>
    </div>
    <button (click)="iniciarJuego()" class="reset-btn" [disabled]="cargandoPalabra || intentos === 0 || juegoActivo">
        Siguiente palabra
    </button>
    <button (click)="reiniciarJuego()" class="reset-btn" *ngIf="intentos === 0">🔄 Reiniciar Juego</button>
</div>