<div class="nav">
  <button class="btn btn-outline-primary" routerLinkActive="selected" routerLink="home">Inicio</button>
  &nbsp;
  <button *ngIf="!isLoggedIn" class="btn btn-outline-primary" routerLinkActive="selected" routerLink="login">Login</button>
  &nbsp;
  <button *ngIf="!isLoggedIn" class="btn btn-outline-primary" routerLinkActive="selected" routerLink="register">Registro</button>
  &nbsp;
  <button class="btn btn-outline-primary" routerLinkActive="selected" routerLink="quiensoy">Quién Soy</button>
  &nbsp;
  <button *ngIf="isLoggedIn" class="btn btn-outline-danger" (click)="logout()">Cerrar Sesión</button>
</div>
<router-outlet />
