<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>  
</head>
<h1>Inicia sesión</h1>
<div class="contenedor-login">
    <div class="formulario-login">
        <input type="text" [(ngModel)]="username" placeholder="Username">
        <br>
        <input type="password" [(ngModel)]="password" placeholder="Password">
        <br>
        <button class="btn btn-success" (click)="login()">Iniciar sesión</button>
        <button class="btn btn-link" (click)="quickAcess()">Acceso rápido usuario 1</button>
        <button class="btn btn-link" (click)="quickAcess2()">Acceso rápido usuario 2</button>
    </div>
</div>
<div class="error-msg">{{ errorMessage }}</div>