/* You can add global styles to this file, and also import other style files */
h1 
{
    color: var(--primary-color);
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px 5px var(--shadow-color);
    font-family: 'Poppins', sans-serif;
    padding: 20px;
}
:root 
{
    --primary-color: #007bff; 
    --secondary-color: #6610f2; 
    --background-color: #222222; 
    --text-color: #ffffff;
    --button-hover: #0056b3;
    --shadow-color: rgba(0, 0, 0, 0.2);
}

body 
{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3 
{
    color: var(--primary-color);
}

.btn-primary
{
    background-color: var(--primary-color);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px var(--shadow-color);
}

.btn-primary:hover 
{
    background-color: var(--button-hover);
    transform: scale(1.05);
}

.card 
{
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 20px;
    color: var(--text-color);
}

.navbar 
{
    background-color: var(--primary-color);
    box-shadow: 0px 4px 8px var(--shadow-color);
}
img 
{
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}
.image-container 
{
    text-align: center;
    margin: 20px 0;
}
.favicon 
{
    width: 50px;
    height: 50px;
    position: absolute;
}
.contenedor-login 
{
    display: flex;
    justify-content: center;
    align-items: center;
}  
.formulario-login 
{
    padding: 20px;
    border-radius: 5px;
}

.error-msg {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}
  